XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME

export PATH=$PATH:/opt:$HOME/.local/bin

# to make dolphin load icons
[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || [ "$XDG_CURRENT_DESKTOP" = "GNOME" ] || export QT_QPA_PLATFORMTHEME="qt5ct"
export _JAVA_AWT_WM_NONREPARENTING=1

export PATH=$PATH:/home/lele/.local/share/JetBrains/Toolbox/scripts
